# Don't copy in git history?
.git*

# Don't copy tests into images?
**/test/**
**/tests/**
**/__test__/**
**/__tests__/**
**/*.spec.*
**/*.test.*

**/*.log
**/.DS_Store

# Editor junk
**/tags*
**/GTAGS
**/GPATH
**/GRTAGS
**/.session*
**/.undodir
**/.history
**/.dccache

# Built TS etc.
**/dist
**/coverage
**/.test
**/*.tsbuildinfo

# yarn 2 stuff
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
# ignore sdk stuff
.vim
